.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.navbar {
    flex-shrink: 0; /* Prevents the navbar from shrinking */
}

.sidebar {
    flex: 0 0 250px; /* Keeps the sidebar at a consistent 250px wide */
    overflow: auto; /* Allows sidebar to scroll when content overflows */
}

@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .sidebar {
        flex: 0 0 auto; /* Allows the sidebar to shrink on small screens */
    }
}