.search-box {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding-inline: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 1.2em;
}

.search-input {
    border: none;
    flex-grow: 1;
    padding: 5px;
    border-radius: 20px;
    outline: none;
    text-align: center;
}

.search-icon {
    margin-right: 5px;
    color: gray;
}
