body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    color: #3F72AF;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

a:hover {
    background-color: #3F72AF;
    color: #F9F7F7;
}

.myAndAllSwitch {
    display: inline-block;
    background-color: #DBE2EF;
    margin-left: 5px;
    margin-right: 5px;
}

h3 {
    color: #3F72AF;
}

.background-color {
    background-color: #DBE2EF;
}

.wrapper {
    transition: background-color 0.3s ease;
}

.btn-section {
    text-align: center;
}

.cardsContainer {
    width: 100%;
    padding: 2%;
    overflow-y: auto;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn-addcard {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #F9F7F7;
    border-color: #112D4E;
    background-color: #112D4E;
    cursor: pointer;
}

.btn-addcard:hover {
    background-color: #3F72AF;
    color: #F9F7F7;
}