.login-page {
    display: flex;
    height: 100vh;
}

.login-left {
    flex: 1;
    background-color: #112D4E;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.login-image {
    width: 40%;
    max-width: 400px; /* adjust this as needed */
    object-fit: cover;
    margin-bottom: 10%; /* adjust this as needed */
}

.login-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
    background-color: #DBE2EF;
}

    .login-right h2 {
        margin-bottom: 30px;
        color: #112D4E;
    }

.login-right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-right form input {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}


@media screen and (max-width: 768px) {
    .login-page {
        flex-direction: column;
    }

    .login-left {
        height: 40vh; /* adjust this as needed */
    }

    .login-image {
        width: 100%;
        max-width: none;
        margin-bottom: 0;
    }

    .login-right {
        padding: 20px;
    }
}

.login-right .btn-outline-primary {
    color: #F9F7F7;
    border-color: #112D4E;
    background-color: #112D4E;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.login-right .btn-outline-primary:hover {
        background-color: #F9F7F7;
        color: #3F72AF;
    }

.background-color {
    background-color: #DBE2EF;
}