body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.card {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: grid;
    gap: 20px;
    background-color: #F9F7F7;
    border-color: #DBE2EF;
}

.card:hover {
    border-color: #3F72AF;
}

.cardColumn {
    text-align: center;
    color: #3F72AF;
    box-sizing: border-box;
}

.card-title {
    color: #112D4E;
    font-size: 20px;
}

.card-text {
    font-size: 16px;
}

@media (max-width: 768px) {
    .card-title {
        font-size: 14px;
    }

    .card-text {
        font-size: 12px;
    }
}