.navbar {
    background-color: #112D4E;
    padding: 0 30px; /* Increase side padding */
}

.navbar-brand {
    color: #F9F7F7;
    margin-right: auto;
    margin-left: 60px; /* Increase left margin */
}

.nav-link {
    color: #F9F7F7;
    margin-left: auto;
}